{% extends 'base.html' %}
{% block title %}
  Add Blog
{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="card mt-4">
      <div class="card-header">
        <h4 class="text-center">Add Blog</h4>
      </div>
      <div class="card-body form-group">
        <form method="POST">
          {% csrf_token %}
          {{ form.media }}
          {{ form.as_p }}
          <button class="btn btn-primary">POST</button>
        </form>
      </div>
    </div>
    <script>
      document.getElementById('user_id').value = '{{ user.id }}';
    </script>
  {% else %}
    <h1>You don't have Permission</h1>
  {% endif %}
{% endblock %}
